
.head{
  text-align: center;
  text-transform: capitalize;
  color: blueviolet;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}

.hr{
  width: 30%;
  margin: auto;
  border: 5px solid gray;
  border-radius: 5px;
}


.main{
display: flex;
justify-content: space-around;
align-items: center;
height: 100vh;
}


.box{
  height: 40vh;
  width: 40vw;
background-color: blueviolet;
padding: 20vh;
}
.para{
font-weight: bolder;
}